/* Regular */
@font-face {
  font-family: BigNoodleTitling;
  src: url("/fonts/subset-BigNoodleTitling.eot");
  src:
    url("/fonts/subset-BigNoodleTitling.eot?#iefix") format("embedded-opentype"),
    url("/fonts/subset-BigNoodleTitling.woff2") format("woff2"),
    url("/fonts/subset-BigNoodleTitling.woff") format("woff"),
    url("/fonts/subset-BigNoodleTitling.ttf") format("truetype"),
    url("/fonts/subset-BigNoodleTitling.svg#BigNoodleTitling-Oblique") format("svg");
  font-weight: normal;
  font-style: normal;
}
