// Grid (2-col)
// --------------------------------------------------

.o-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(80px) rem($grid-gutter);

  @include mappy-bp($bp-grid-collapse) {
    grid-template-columns: 50% 1fr;
    gap: rem($grid-gutter);
  }
}

.o-grid__col {
  min-width: 0;
}

