//
// Topbar
// --------------------------------------------------

$topbar-height-top: 215px;
$topbar-height-not-top: $pagelayout-y-gutter;

.c-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: index($z-index, topbar);

  height: rem($topbar-height-top);

  @include mappy-bp(sm) {
    left: $pagelayout-gutter-sm;
    right: $pagelayout-gutter-sm;
  }

  @include mappy-bp(md) {
    left: $pagelayout-gutter-md;
    right: $pagelayout-gutter-md;
  }

  @include mappy-bp(lg) {
    left: $pagelayout-gutter-lg;
    right: $pagelayout-gutter-lg;
  }

  .o-container {
    height: 100%;
  }
}

// Headroom modifiers
.c-topbar--headroom-initialized {
  transition: all $transition-time-medium;
}

.c-topbar--unpinned {
  transform: translateY(-100%);
  opacity: 0;
}

.c-topbar--not-top {
  height: rem($topbar-height-not-top);
}

.c-topbar--not-top.c-topbar--pinned {
  background-color: rgba($color-content-ci, .9);
}


.c-topbar__inner {
  height: 100%;
  display: flex;
  align-items: flex-end;

  .c-topbar--not-top & {
    align-items: center;
  }
}

// Menu wrapper
.c-topbar__menu {
  margin-left: auto;
}

// Logo
$logo-height: 200px;
$logo-width: 224px;

.c-topbar__logo {
  height: 100%;
  overflow: hidden;
  margin-right: rem(20px);
  display: flex;

  img {
    margin-top: auto;
    display: block;
    height: rem($logo-height);
    width: rem($logo-width);
    transition: all $transition-time-medium;
    transform-origin: top center;

    .c-topbar--not-top & {
      transform: scale(.675);
    }
  }
}
