{{/* Set headless bundle which holds the content */}}
{{ $intro := .Site.GetPage "page" "intro" }}

<section class="o-main__section o-main__section--no-pad o-main__section--bg-light o-main__section--overlap-top" id="autohaus">
  <div class="c-intro">
    <div class="o-container">
      <div class="o-grid">
        {{/* Image col */}}
        <div class="o-grid__col">
          <div class="c-intro__img-wrapper">
            {{/* Fading images */}}
            <div class="swiper-container" data-teaser-fader>
              <div class="swiper-wrapper">
                {{ range $intro.Params.images }}
                  {{ with $intro.Resources.GetMatch .src }}
                    {{ $imageSmall := .Resize "500x" }}
                    {{ $imageMedium := .Resize "800x" }}

                    <div class="swiper-slide">
                      <img
                        alt="{{ .Title }}"
                        src="{{ $imageSmall.RelPermalink }}"
                        srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 800w"
                        data-sizes="auto"
                        class="c-intro__img" />
                    </div>
                  {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>

        {{/* Text col */}}
        <div class="o-grid__col">
          <div class="c-intro__text">
            <article class="c-richtext c-richtext--sm">
              {{ $intro.Content }}
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
