{{/* Set headless bundle which holds the content */}}
{{ $team := .Site.GetPage "page" "team" }}

<section class="o-main__section o-main__section--no-pad o-main__section--bg-light" id="team">
  <div class="c-team">
    {{/* Team section */}}
    <div class="o-container o-container--narrow">
      <div class="c-team__members">
        <div class="c-team__members-col c-team__members-col--title">
          <h2 class="c-headline c-headline--ci">{{ $team.Params.title }}</h2>
        </div>

        {{ range $team.Params.team }}
          <div class="c-team__members-col">
            <div class="c-team__member">
              {{ with $team.Resources.GetMatch .src }}
                {{ $imageSmall := .Resize "400x" }}
                <div class="c-team__member-img-wrapper">
                  <img
                    alt="{{ .Title }}"
                    src="{{ $imageSmall.RelPermalink }}"
                    srcset="{{ $imageSmall.RelPermalink }} 400w"
                    data-sizes="auto"
                    class="c-team__member-img" />
                </div>

                <h3 class="c-headline c-headline--sm c-headline--ci">{{ .Title }}</h3>
              {{ end }}

              <p class="c-richtext c-richtext--sm">
                {{ .position }}
              </p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>

    {{/* Media section */}}
    <div class="c-team__media">
      <div class="o-container">
        <div class="c-team__media-grid">
          {{/* Image col */}}
          <div class="c-team__media-grid-col">
            <div class="c-team__img-wrapper">
              {{ with $team.Resources.GetMatch $team.Params.image }}
                {{ $imageSmall := .Resize "500x" }}
                {{ $imageMedium := .Resize "800x" }}
                <img
                  alt="{{ .Title }}"
                  src="{{ $imageSmall.RelPermalink }}"
                  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 800w"
                  data-sizes="auto"
                  class="c-team__img lazyload" />
              {{ end }}
            </div>
          </div>

          {{/* Video col */}}
          <div class="c-team__media-grid-col">
            <div class="c-team__video">
              {{ with $team.Resources.GetMatch $team.Params.video }}
                <video width="1064" height="800" muted autoplay loop>
                  <source src="{{ .RelPermalink }}" type="{{ .MediaType.Type }}">
                  Your browser does not support the video tag.
                </video>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
