{{/* Set headless bundle which holds the content */}}
{{ $team := .Site.GetPage "page" "team" }}

<section class="o-main__section o-main__section--no-pad o-main__section--bg-light" id="team">
  <div class="c-team">
    {{/* Team section */}}
    <div class="o-container o-container--narrow">
      <div class="c-team__members">
        <div class="c-team__members-col c-team__members-col--title">
          <h2 class="c-headline c-headline--ci">{{ $team.Params.title }}</h2>
        </div>

        {{ range $team.Params.team }}
          <div class="c-team__members-col">
            <div class="c-team__member">
              {{ with $team.Resources.GetMatch .src }}
                {{ $imageSmall := .Resize "400x" }}
                <div class="c-team__member-img-wrapper">
                  <img
                    alt="{{ .Title }}"
                    src="{{ $imageSmall.RelPermalink }}"
                    srcset="{{ $imageSmall.RelPermalink }} 400w"
                    data-sizes="auto"
                    class="c-team__member-img" />
                </div>

                <h3 class="c-headline c-headline--sm c-headline--ci">{{ .Title }}</h3>
              {{ end }}

              <p class="c-richtext c-richtext--sm">
                {{ .position }}
              </p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
