// Intro
// --------------------------------------------------

.c-intro {
  position: relative;

  .o-container {
    transform: translateY(rem(-$overlap-size));
  }
}

// Image
.c-intro__img {
  display: block;
  width: 100%;
  height: auto;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

// Image col 2
.c-intro__image-col {
  .c-intro__img-wrapper {
    margin-left: rem(-$container-gutter);
    margin-right: rem(-$container-gutter);

    @include mappy-bp($bp-grid-collapse) {
      margin-right: 0;
    }

    @include mappy-bp(xl) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// Video
.c-intro__video {
  padding-left: rem($container-gutter * 2);
  display: block;
  width: 100%;
  height: auto;

  @include mappy-bp($bp-grid-collapse) {
    padding-left: 0;
  }

  video {
    display: block;
    width: 100%;
    height: auto;
  }
}

// Text
.c-intro__text {
  @include mappy-bp($bp-grid-collapse) {
    margin-top: rem(100px);
  }
}
